<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>GameHub</title>
  <link rel="stylesheet" href="/css/<%= css %>" >
</head>
<body>
  <header>
    <h1>GameHub</h1>
    <nav>
      <ul>
        <li ><a href="/">Accueil</a></li>
        <% for(const game of games) { %>
        <li ><a href="/game/<%=game.name %>"><%= game.name%></a></li>
      <% } %>
     
      </ul>
    </nav>
  </header>

  <!-- if(locals.games[0].cssFile) {
    css = "/css/"+ games[0].cssFile; 
  } else {
    css === "/css/style.css"; 
  };  -->